{% include 'layout.html.j2' %}

<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h1>Components</h1>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Raw Material</th>
            <th>Unlock Tier</th>
          </tr>
        </thead>
        <tbody>
          {% for comp in components %}
          <tr class="pointer">
            <td>{{ comp.name }}</td>
            <td>{{ "Yes" if comp.is_raw_material else "No" }}</td>
            <td>{{ comp.tier }}</td>
            <td>
              <button onclick="window.location.href='edit-component-page/{{comp.id}}'" type="button"
                class="btn btn-info">Edit</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/add-component-page" class="btn btn-primary">Add New Component</a>
    </div>
  </div>
</div>